{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h2>Selamat datang di Sistem,</h2>
						<h1><strong>Monitoring</strong> Penghuni Asrama <br>STKIP SURYA</h1>
                            <div class="description">
                            	<p>
	                            	Merupakan aplikasi yang dibuat untuk memantau penghuni asrama mahasiswa STKIP SURYA
                            	</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
