{% extends 'MonitorMonitorBundle:Default:index.html.twig' %}

{% block body %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12 col-md-12'>
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 class="text-center">Selamat datang, di Sistem Monitoring Asrama</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
